body {
	background-image: url(technbackground.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h3 {
	color: white;
	text-align: center;
	background-color: black;
	border-color: white;
}
div {
	background-color: blueviolet;
}